# Node
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
.pnp/
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.xcstickers
!default.xcstickers
*.xccheckout
!default.xccheckout
*.xcscheme
!default.xcscheme
*.xcworkspace
!default.xcworkspace
DerivedData/
Profile/
# If using Swift Package Manager
.swiftpm/xcode/package.xcworkspace/

# Android
/android/build
/android/app/build
/android/.gradle
.idea/
local.properties
.project
.externalNativeBuild

# React Native
/android/app/src/main/assets/
# If using Flipper
.flipper/

# VS Code
.vscode/

# Environment variables
.env
.env.local

# Bundling output
*.bundle

# CocoaPods
/ios/Pods/
/ios/.bundle/
/ios/build/
/ios/DerivedData/

# Expo (if you ever detach/eject)
.expo/